langchain 
langchain-community 
groq 
faiss-cpu 
ollama 
firecrawl-py
openai
python-dotenv
langchain_ollama
django
django-tailwind
django_browser_reload
langchain_chroma
langchain_openai
chromadb
uuid