{% load static tailwind_tags %}
<head>
  {% tailwind_css %}
  <title>Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% load static %}
</head>
{% block content %}
<div class="bg-gray-100 dark:bg-gray-900 transition-all">
    <div
        class="hidden"
        id="django-data"
        data-page="{{ page }}"
        data-session="{{ session_id }}"
        data-messages="{{ messages }}"
    >
    </div>
    <!-- Sidebar -->
    <div class="flex">
        <div class="w-64 bg-[#2B2D31] overflow-y-auto min-w-64 rounded-sm">
            <div class="p-4">
                <div class="justify-self-end text-2xl text-gray-300">
                    <i class="fa-regular fa-square-plus" id="new-chat-btn"></i>
                </div>
                <h1 class="text-2xl font-bold text-white">Chat History</h1>
                <ul class="mt-8">
                    {% for session in chat_sessions %}
                    <li class="flex items-center bg-gray-400 mb-2 rounded-sm text-gray-800 relative" data-session_id="{{ session.session_id }}">
                        <a href="/chat/session/{{ session.session_id }}" class="block text-gray-800 h-6 py-0.4 px-1 mr-2">{{ session.name }}</a>
                        <i class="absolute fa-solid fa-pen-to-square right-4"></i>
                        <i class="absolute fa-solid fa-trash right-0" onclick="deleteSession(this);"></i>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Main Content -->
        <div class="flex-1 bg-[#313338] -px-8 h-screen relative">
            
            <div id="chat-output" class="mt-4 p-1 dark:bg-gray-700 overflow-y-auto overflow-x-auto w-full max-h-[calc(100vh-100px)]">
                <div class="items-center w-full max-h-[calc(100vh-100px)] {% if page == 'home' %}{% else %}hidden{% endif %}" id="about">
                    <div class="text-white text-[50px] text-center">About Our Service</div>
                    <img src="{% static 'jpg/p1.png' %}" class="w-[80%] mr-2 mt-10 justify-self-center" />
                    <img src="{% static 'jpg/p2.png' %}" class="w-[80%] mr-2 mt-10 justify-self-center" />
                    <img src="{% static 'jpg/voyant.jpg' %}" class="w-[80%] mr-2 mt-10 justify-self-center" />
                    <img src="{% static 'jpg/visualpak.jpg' %}" class="w-[80%] mr-2 mt-10 justify-self-center" />
                </div>
                <div class="text-2xl font-bold text-white p-6 flex items-center  {% if page == 'chat' %}{% else %}hidden{% endif %} text-[30px]" id="bot-title">
                    SAP Chatbot
                </div>
                {% for message in messages %}
                    {% if message.role == 'user' %}
                    <div class="text-white p-2 my-2 flex-1 flex">
                        <img src="{% static 'png/you.jpg' %}" class="rounded-full w-10 h-10 mr-2" />
                        <scan class="mr-0">You<br>
                            {{message.content}}
                        </scan>    
                    </div>
                    {% elif message.role == 'assistant' %}
                    <div class="text-white p-2 my-2 flex-1 flex">
                        <img src="{% static 'png/bot.png' %}" class="rounded-full w-10 h-10 mr-2" />
                        <scan class="mr-0">SAP bot<br>
                            {{message.content}}
                        </scan>    
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        
            <!-- Input box with Send button embedded -->
            <div class="absolute bottom-1 w-[calc(100%-10px)]">
                <div class="relative">
                    <textarea id="chat-input" class="w-full p-4 bg-gray-100 dark:bg-gray-700 text-gray-800 dark:text-white rounded-lg shadow-sm pr-16" rows="1" placeholder="Type your message..."></textarea>
                    <button id="send-btn" class="absolute top-2 right-2 px-4 py-2 bg-blue-500 text-white rounded-lg">Send</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/marked@15.0.3/marked.min.js"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
</div>
{% endblock %}
